# **Semillero de programación**
## Felipe Botero, Laura Merchán y Wilson Forero.

Sesión 2: Funciones

¿Cuál es el promedio de Alicia en esta clase? (recuerde que el promedio es la suma (sum) de notas sobre la cantidad(len))

¿Cuál es el promedio del salón?

In [36]:
notas = {
    'Mariana': [4.5, 3.7, 3.4, 5],
    'Alicia': [3.5, 3.1, 4.2, 3.9],
    'Margarita': [2.6, 3.0, 3.9, 4.1]
}

In [37]:
(3.5+3.1+4.2+3.9)/4

3.6750000000000003

In [38]:
promedio_alicia= sum(notas["Alicia"])/len(notas["Alicia"])

In [40]:
promedio_mariana= sum(notas["Mariana"])/len(notas["Mariana"])
promedio_margarita= sum(notas["Margarita"])/len(notas["Margarita"])

promedio_clase= (promedio_alicia+promedio_mariana+promedio_margarita)/3
print(promedio_clase)

3.741666666666667

## Recapitulando:

### Objetos básicos de Python
1. Integers (Números enteros, positivos o negativos, sin puntos decimales)
2. Float (Números reales, que separan al los Integers de las fracciónes con un punto)
3. String (objeto entre 'comillas')

### Estructuras básicas de datos

Conjuntos de objetos de python
1. Listas
2. Diccionarios
3. Tuplas
4. Conjuntos

#### Diccionarios

In [41]:
notas = {
    'Mariana': [4.5, 3.7, 3.4, 5],
    'Alicia': [3.5, 3.1, 4.2, 3.9],
    'Margarita': [2.6, 3.0, 3.9, 4.1]
}

print(notas.keys())

dict_keys(['Mariana', 'Alicia', 'Margarita'])

In [42]:
print(notas.values())

dict_values([[4.5, 3.7, 3.4, 5], [3.5, 3.1, 4.2, 3.9], [2.6, 3.0, 3.9, 4.1]])

In [43]:
print(notas.items())

dict_items([('Mariana', [4.5, 3.7, 3.4, 5]), ('Alicia', [3.5, 3.1, 4.2, 3.9]), ('Margarita', [2.6, 3.0, 3.9, 4.1])])

#### Mutabilidad e inmutabilidad

In [46]:
#Los strings no son mutables
name="juan"
name.upper()
print(name)

juan

In [47]:
name_mayus=name.upper()
print(name_mayus)

JUAN

In [48]:
# Las listas son mutables
names=["juan","carolina"]
names.clear()
print(names)

[]

In [49]:
# Los diccionarios son mutables
notas.update({"Carolina":[4.3,4.0,3,3.7]})
print(notas)

{'Mariana': [4.5, 3.7, 3.4, 5], 'Alicia': [3.5, 3.1, 4.2, 3.9], 'Margarita': [2.6, 3.0, 3.9, 4.1], 'Carolina': [4.3, 4.0, 3, 3.7]}

#### Tuplas

Son un tipo de lista inmutable.

In [52]:

names_t=("juan","carolina","camila")
#names_t[2]= "Camila"

print(names_t)

('juan', 'carolina', 'camila')

In [51]:
names_t=names_t+(23,)
print(names_t)
print(names_t[2])

('juan', 'carolina', 'camila', 23)
camila

#### Conjuntos (sets)

Son conjuntos de elementos **no repetidos**, no ordenados y mutables.

In [61]:
codigos=set(["201624567","201812456","201613423"])
print (codigos)

{'201624567', '201613423', '201812456'}

In [62]:
codigos.add("201523416")
print(codigos)
codigos.update(["201715867","20182340"])
print(codigos)
codigos.remove("201624567")

print(codigos)

{'201523416', '201624567', '201613423', '201812456'}
{'201812456', '201715867', '201613423', '20182340', '201624567', '201523416'}
{'201812456', '201715867', '201613423', '20182340', '201523416'}

# FUNCIONES BÁSICAS
### CONDICIONALES (IF):

Los condicionales son funciones lógicas que permiten realizar tareas diferentes cuando una condición lógica es verdadera (True) o falsa (False).
***Por ejemplo:***

In [65]:
a = 14
b = 100
#print(b > a)
if b > a:
    print("b es mayor que a")

b es mayor que a

In [71]:
a = 14
b = 10
#print(b > a)
if b > a:
    print("b es mayor que a")

**Se puede establecer un flujo que realice una tarea diferente si la condición es verdadera o falsa :**

In [72]:
a = 14
b = 10
if b > a:
    print("b es mayor que a")
else:
    print("b no es mayor que a")

b no es mayor que a

**Se puede establecer un flujo que anide condiciones lógicas:**

In [74]:
a = 10
b = 10
if b > a:
    print("b es mayor que a")
elif b==a:
    print("b es igual que a")
else:
    print("b es menor que a")

b es igual que a

**otras condiciones posibles:**

In [75]:
frutas = ["manzana", "mora", "mango"]

if "banano" in frutas:
    print ("Está en la lista")
else:
    print("no está en la lista")

no está en la lista

In [77]:
if "banano" not in frutas:
    frutas.append("banano")
print(frutas)

In [83]:
type(2)

int

In [87]:
if type(frutas)== list:
    print(frutas)

['manzana', 'mora', 'mango', 'banano']

**Es posible usar varias condiciones en un solo if:**

In [88]:
if "maracuyá" not in frutas and type(frutas)== dict:
    frutas.append("maracuyá")
print(frutas)

['manzana', 'mora', 'mango', 'banano']

In [89]:
if "maracuyá" not in frutas or type(frutas)== dict:
    frutas.append("maracuyá")
print(frutas)

['manzana', 'mora', 'mango', 'banano', 'maracuyá']

In [90]:
if "fresa" not in frutas and type(frutas)== list:
    frutas.append("fresa")
print(frutas)

['manzana', 'mora', 'mango', 'banano', 'maracuyá', 'fresa']



## Bucles o loops

Cuando necesitamos repetir la misma tarea muchas veces programar se vuelve una herramienta muy útil. Los bucles son funciones que permiten repetir un proceso un número determinado de veces o para todos los elementos de una estructura de datos. Los hay de dos tipos: **for** y **while**. 

### FOR LOOPS
Te permite repetir la misma tarea iterando sobre los elementos de una estructura de datos.

**Por ejemplo, imprimir cada uno de los elementos de una lista:**

In [91]:
codigos

{'201523416', '201613423', '201715867', '201812456', '20182340'}

In [95]:
for estudiante in codigos:
    print(estudiante)

201812456
201715867
201613423
20182340
201523416

**o dividir en 2 los números de 0 a 100:**

In [ ]:
range(0,101)

In [96]:
for n in range(0,101):
    print(n, " dividido en 2 es: ", n/2)

0  dividido en 2 es:  0.0
1  dividido en 2 es:  0.5
2  dividido en 2 es:  1.0
3  dividido en 2 es:  1.5
4  dividido en 2 es:  2.0
5  dividido en 2 es:  2.5
6  dividido en 2 es:  3.0
7  dividido en 2 es:  3.5
8  dividido en 2 es:  4.0
9  dividido en 2 es:  4.5
10  dividido en 2 es:  5.0
11  dividido en 2 es:  5.5
12  dividido en 2 es:  6.0
13  dividido en 2 es:  6.5
14  dividido en 2 es:  7.0
15  dividido en 2 es:  7.5
16  dividido en 2 es:  8.0
17  dividido en 2 es:  8.5
18  dividido en 2 es:  9.0
19  dividido en 2 es:  9.5
20  dividido en 2 es:  10.0
21  dividido en 2 es:  10.5
22  dividido en 2 es:  11.0
23  dividido en 2 es:  11.5
24  dividido en 2 es:  12.0
25  dividido en 2 es:  12.5
26  dividido en 2 es:  13.0
27  dividido en 2 es:  13.5
28  dividido en 2 es:  14.0
29  dividido en 2 es:  14.5
30  dividido en 2 es:  15.0
31  dividido en 2 es:  15.5
32  dividido en 2 es:  16.0
33  dividido en 2 es:  16.5
34  dividido en 2 es:  17.0
35  dividido en 2 es:  17.5
36  dividido en 2 es:  18.0
37  dividido en 2 es:  18.5
38  dividido en 2 es:  19.0
39  dividido en 2 es:  19.5
40  dividido en 2 es:  20.0
41  dividido en 2 es:  20.5
42  dividido en 2 es:  21.0
43  dividido en 2 es:  21.5
44  dividido en 2 es:  22.0
45  dividido en 2 es:  22.5
46  dividido en 2 es:  23.0
47  dividido en 2 es:  23.5
48  dividido en 2 es:  24.0
49  dividido en 2 es:  24.5
50  dividido en 2 es:  25.0
51  dividido en 2 es:  25.5
52  dividido en 2 es:  26.0
53  dividido en 2 es:  26.5
54  dividido en 2 es:  27.0
55  dividido en 2 es:  27.5
56  dividido en 2 es:  28.0
57  dividido en 2 es:  28.5
58  dividido en 2 es:  29.0
59  dividido en 2 es:  29.5
60  dividido en 2 es:  30.0
61  dividido en 2 es:  30.5
62  dividido en 2 es:  31.0
63  dividido en 2 es:  31.5
64  dividido en 2 es:  32.0
65  dividido en 2 es:  32.5
66  dividido en 2 es:  33.0
67  dividido en 2 es:  33.5
68  dividido en 2 es:  34.0
69  dividido en 2 es:  34.5
70  dividido en 2 es:  35.0
71  dividido en 2 es:  35.5
72  dividido en 2 es:  36.0
73  dividido en 2 es:  36.5
74  dividido en 2 es:  37.0
75  dividido en 2 es:  37.5
76  dividido en 2 es:  38.0
77  dividido en 2 es:  38.5
78  dividido en 2 es:  39.0
79  dividido en 2 es:  39.5
80  dividido en 2 es:  40.0
81  dividido en 2 es:  40.5
82  dividido en 2 es:  41.0
83  dividido en 2 es:  41.5
84  dividido en 2 es:  42.0
85  dividido en 2 es:  42.5
86  dividido en 2 es:  43.0
87  dividido en 2 es:  43.5
88  dividido en 2 es:  44.0
89  dividido en 2 es:  44.5
90  dividido en 2 es:  45.0
91  dividido en 2 es:  45.5
92  dividido en 2 es:  46.0
93  dividido en 2 es:  46.5
94  dividido en 2 es:  47.0
95  dividido en 2 es:  47.5
96  dividido en 2 es:  48.0
97  dividido en 2 es:  48.5
98  dividido en 2 es:  49.0
99  dividido en 2 es:  49.5
100  dividido en 2 es:  50.0

**También podemos almacenar los resultados de un for en una variable nueva:**

In [97]:
numeros_divididos=[]
for n in range(0,101):
    numeros_divididos.append(n/2)

In [99]:
print(numeros_divididos)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5, 50.0]

**O utilizar un for para cambiar información previa, por ejemplo:**

In [101]:
names=["María", "Margarita","Mariana","José"]


for i in range(0,len (names)):
    names[i]= names[i] + " Forero"
    
print(names)

['María', 'Margarita', 'Mariana', 'José']

A veces iteramos utilizando una secuencia de números (range), pero también podemos iterar directamente sobre los elementos de una estructura. **Por ejemplo, iterando sobre los elementos de un diccionario:**

In [104]:
print(notas)

{'Mariana': [4.5, 3.7, 3.4, 5], 'Alicia': [3.5, 3.1, 4.2, 3.9], 'Margarita': [2.6, 3.0, 3.9, 4.1], 'Carolina': [4.3, 4.0, 3, 3.7]}

In [103]:
for key in notas.keys():
    promedio_estudiante= sum(notas[key])/len(notas[key])
    print("El promedio de", key, "es:", promedio_estudiante)

El promedio de Mariana es: 4.15
El promedio de Alicia es: 3.6750000000000003
El promedio de Margarita es: 3.4
El promedio de Carolina es: 3.75

**Ejercicio:** Calcular el promedio de la clase con un for

In [29]:
suma_promedios=0
for key in notas.keys():
    promedio_estudiante= sum(notas[key])/len(notas[key])
    suma_promedios+=promedio_estudiante
promedio_clase=suma_promedios/len(notas.keys())
print(promedio_clase)

3.7437500000000004

**Los for se pueden anidar:

In [105]:
colores = ["naranja", "azul", "verde"]
frutas = ["manzana", "mora", "mango"]


for fruta in frutas:
    for color in colores:
        print(fruta,color)

manzana naranja
manzana azul
manzana verde
mora naranja
mora azul
mora verde
mango naranja
mango azul
mango verde

 ### WHILE LOOPS:
 
 Tienen la misma función que un for pero en lugar de iterar sobre los elementos de una estructura de datos iteran mientras una condición sea verdadera. Usualmente esta condición es el número de veces que se debe iterar la instrucción.
***cuidado:*** Un error común usando while loops es no definir el aumento en la variable que da la condición de parar

In [31]:
count=0
while count <100:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# Challenge:

In [106]:
notas

{'Mariana': [4.5, 3.7, 3.4, 5],
 'Alicia': [3.5, 3.1, 4.2, 3.9],
 'Margarita': [2.6, 3.0, 3.9, 4.1],
 'Carolina': [4.3, 4.0, 3, 3.7]}

In [107]:
nota_parcial={"Mariana":4.7,"Alicia":4.0,"Margarita":3.5,"Carolina":4.6, "Jesús":4.0, "Marco":3.7}

### Problema 1
1. Usando un for y un if agregue la nota del parcial al diccionario notas. En el caso de los estudiantes nuevos se deben agregar al diccionario con su única nota.
2. Cree un for que calcule el promedio de calificaciones de los estudiantes e imprima el nombre de los estudiantes con promedio mayor a 4

### Problema 2

Construir una lista que tenga `100` repeticiones de los números `-1`, `0` y `1`, en ese orden exacto. Recuerde las propiedades de las listas (las vimos en la primera sesión)

### Problema 3

Encuentre cuantas veces aparece la palabra `perro` en la siguiente lista. Para hacelo deberá usar dos funciones aplicables a los objetos string. Recuerde que los strings NO son mutables.

In [8]:
base="PerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERRO"