## Semillero de Programación en Ciencias Sociales (Sesión 4)
### Felipe Botero, Laura Merchán y Wilson Forero

### Solución de Challenges

In [1]:
notas = {
    'Mariana': [4.5, 3.7, 3.4, 5],
    'Alicia': [3.5, 3.1, 4.2, 3.9],
    'Margarita': [2.6, 3.0, 3.9, 4.1],
    "Carolina":[4.3,4.0,3,3.7]
}

In [2]:
nota_parcial={"Mariana":4.7,"Alicia":4.0,"Margarita":3.5,"Carolina":4.6, "Jesús":4.0, "Marco":3.7}

In [3]:
for key in nota_parcial.keys():
    if key in notas.keys():
        notas[key].append(nota_parcial[key])
    else:
        notas[key]=[nota_parcial[key]]

In [4]:
notas

{'Mariana': [4.5, 3.7, 3.4, 5, 4.7],
 'Alicia': [3.5, 3.1, 4.2, 3.9, 4.0],
 'Margarita': [2.6, 3.0, 3.9, 4.1, 3.5],
 'Carolina': [4.3, 4.0, 3, 3.7, 4.6],
 'Jesús': [4.0],
 'Marco': [3.7]}

### Problema 2

Construir una lista que tenga `100` repeticiones de los números `-1`, `0` y `1`, en ese orden exacto. Recuerde las propiedades de las listas (las vimos en la primera sesión)

In [5]:
print([-1,0,1]*100)

[-1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1]

### Problema 3

Encuentre cuantas veces aparece la palabra `perro` en la siguiente lista. Para hacelo deberá usar dos funciones aplicables a los objetos string. Recuerde que los strings NO son mutables.

In [6]:
base="PerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERROPerRoPERROorrepPErrogatoPeroPerroPetroPErRoPeRRoGatoperroPerroPERRoPERRO"

In [7]:
base2=base.lower()
base2.count("perro")

50

### Introducción a funciones

Como en cualquier otro lenguaje, en *Python* también es posible definir funciones, es decir, secuencias de enunciados que reciben ciertos datos, ejecutan algunas operaciones sobre ellos y devuelven un resultado.

Para definir una función se usa la palabra clave `def`, y el valor que va a retornar siempre debe ser precedido por un `return`. La sintaxis de una función es como se ve a continuación::

```python
def NOMBRE(LISTA DE ARGUMENTOS):
    ENUNCIADOS
    return VALOR
```

ó

```python
def NOMBRE(LISTA DE ARGUMENTOS):
    ENUNCIADOS
    print(VALOR)
```

La línea que contiene el `return` (o `print`) es opcional, pues no todas las funciones deben retornar algo. Por ejemplo, hay algunas que sólo modifican los valores de ciertas variables, por lo que no necesitan retornar o imprimir ningún valor.

##### Ejemplos:

In [8]:
lista=[4.5,3.5,4.2,5]

In [9]:
#funciones que hemos usado en el pasado
print(len(lista))
print(sum(lista))

4
17.2

##### Una función que calcule promedios:

In [10]:
def promedio_lista(x):
    return(sum(x)/len(x))

In [11]:
promedio_lista(lista)

4.3

In [12]:
x=[2,3,4]

In [13]:
promedio_lista(x)

3.0

###### Una función que me determine si un número es mayor o menor que otro

In [14]:
def mayor_o_menor(x, y):
    if x < y:
        print(x, "es menor que", y)
    elif x > y:
        print(x, "es mayor que", y)
    else:
        print(x, "y", y, "son iguales")

In [15]:
mayor_o_menor(5,6)

5 es menor que 6

##### Una Función que invierta una frase

In [16]:
def invertir (x):
    palabras = x.split(" ")
    palabras=palabras[-1::-1]
    frase = ' '.join(palabras) 
    return frase

In [17]:
invertir("Esto es semillero de python")

'python de semillero es Esto'

In [18]:
d="hola como estas"

In [19]:
lista[-2]

4.2

##### Una función que identifique que si una palabra es un palíndromo
Cree una función que reciba una cadena de caracteres (string) e imprima si es un palíndromo (se lee igual de izquierda a derecha que de derecha a izquierda).

In [20]:
def palindromo(x):
    x=x.lower()
    y=x[-1::-1]
    if x==y:
        print(x, "es un palindromo")
    else:
        print(x, "no es un palindromo")

In [21]:
palindromo("bob")

bob es un palindromo

### Challenge:

#### 1. Menor a 10 
Defina una función que reciba una lista numérica e imprima cuántos elementos son menores que 10.

#### 2. Construya su propia función
costruya su propia función que incorpore por lo menos un operador de comparación (>, <, ==, !=)

### Introducción a Pandas (bases de datos)

Ahora miraremos _Pandas_, este es el paquete más famoso en Python para la manipulación de bases de datos.

En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño
- **Data Frames**: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas
- Panel: arreglo 3D, tamaño mutable.

In [22]:
import pandas as pd
import numpy as np

In [23]:
candidatos=['Duque', 'Petro', 'Fajardo', 'DeLaCalle', 'Vargas']
orientacion=['D', 'I', 'C', None ,'D']
edad=[43,59,63,73,57]
votos=[7.6, 4.8, 4.6, 0.4, 1.7] #en millones

In [24]:
diccionario={'names':candidatos, 'ideology':orientacion, 'age':edad, 'votes':votos}

In [25]:
diccionario

{'names': ['Duque', 'Petro', 'Fajardo', 'DeLaCalle', 'Vargas'],
 'ideology': ['D', 'I', 'C', None, 'D'],
 'age': [43, 59, 63, 73, 57],
 'votes': [7.6, 4.8, 4.6, 0.4, 1.7]}

In [26]:
elecciones_2018=pd.DataFrame(diccionario)

In [27]:
elecciones_2018

       names ideology  age  votes
0      Duque        D   43    7.6
1      Petro        I   59    4.8
2    Fajardo        C   63    4.6
3  DeLaCalle     None   73    0.4
4     Vargas        D   57    1.7

### Componentes principales de un DataFrame
1. _index_
2. _columns_
3. _shape_
4. _size_
5. _data.count()_
6. _T_
7. _dtypes_

In [28]:
elecciones_2018.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
elecciones_2018.columns

Index(['names', 'ideology', 'age', 'votes'], dtype='object')

In [30]:
elecciones_2018.shape

(5, 4)

In [31]:
elecciones_2018.size

20

In [32]:
elecciones_2018.count()

names       5
ideology    4
age         5
votes       5
dtype: int64

In [33]:
elecciones_2018.T

              0      1        2          3       4
names     Duque  Petro  Fajardo  DeLaCalle  Vargas
ideology      D      I        C       None       D
age          43     59       63         73      57
votes       7.6    4.8      4.6        0.4     1.7

In [34]:
elecciones_2018.dtypes

names        object
ideology     object
age           int64
votes       float64
dtype: object

### Indexación y ejes

In [35]:
elecciones_2018['names'] # o elecciones_2018.names

0        Duque
1        Petro
2      Fajardo
3    DeLaCalle
4       Vargas
Name: names, dtype: object

In [36]:
elecciones_2018[elecciones_2018['names']=='Vargas']

    names ideology  age  votes
4  Vargas        D   57    1.7

In [37]:
print(elecciones_2018.loc[[3]])

       names ideology  age  votes
3  DeLaCalle     None   73    0.4

### Edición de columnas

Operaciones aritméticas

**Por ejemplo la edad de los candidatos fue tomada en 2018, si suponemos que todos ya cumplieron años en este año 2020 (ya sea en enero o febrero) debemos ajustar su edad**

In [38]:
elecciones_2018.age=elecciones_2018.age-2

**Si queremos la votación en millones**:

In [39]:
elecciones_2018["votes_m"]=elecciones_2018.votes*1000000

**Si queremos el porcentaje de cada uno**:

In [40]:
elecciones_2018["porcentaje"]=elecciones_2018.votes_m*100/(elecciones_2018.votes_m.sum())
elecciones_2018

       names ideology  age  votes    votes_m  porcentaje
0      Duque        D   41    7.6  7600000.0   39.790576
1      Petro        I   57    4.8  4800000.0   25.130890
2    Fajardo        C   61    4.6  4600000.0   24.083770
3  DeLaCalle     None   71    0.4   400000.0    2.094241
4     Vargas        D   55    1.7  1700000.0    8.900524

**Si queremos crear una variable categorica**:

In [41]:
elecciones_2018['M50'] = np.where(elecciones_2018['age']>=50, 1, 0)

In [42]:
elecciones_2018

       names ideology  age  votes    votes_m  porcentaje  M50
0      Duque        D   41    7.6  7600000.0   39.790576    0
1      Petro        I   57    4.8  4800000.0   25.130890    1
2    Fajardo        C   61    4.6  4600000.0   24.083770    1
3  DeLaCalle     None   71    0.4   400000.0    2.094241    1
4     Vargas        D   55    1.7  1700000.0    8.900524    1

**Si queremos borrar una columna**:

In [43]:
elecciones_2018=elecciones_2018.drop(columns=['votes'])

In [44]:
elecciones_2018

       names ideology  age    votes_m  porcentaje  M50
0      Duque        D   41  7600000.0   39.790576    0
1      Petro        I   57  4800000.0   25.130890    1
2    Fajardo        C   61  4600000.0   24.083770    1
3  DeLaCalle     None   71   400000.0    2.094241    1
4     Vargas        D   55  1700000.0    8.900524    1

### Estadísticas descriptivas

In [45]:
elecciones_2018.sum()

names         DuquePetroFajardoDeLaCalleVargas
age                                        285
votes_m                               1.91e+07
porcentaje                                 100
M50                                          4
dtype: object

In [47]:
elecciones_2018.mean()

age                57.0
votes_m       3820000.0
porcentaje         20.0
M50                 0.8
dtype: float64

In [48]:
elecciones_2018.median()

age           5.700000e+01
votes_m       4.600000e+06
porcentaje    2.408377e+01
M50           1.000000e+00
dtype: float64

In [49]:
elecciones_2018.age.describe()

count     5.00000
mean     57.00000
std      10.86278
min      41.00000
25%      55.00000
50%      57.00000
75%      61.00000
max      71.00000
Name: age, dtype: float64

**Importacion de Bases de datos**

In [52]:
senado=pd.read_excel("/Users/wilsonforero/Downloads/SENADO2018.xls")

In [53]:
senado

,ano,tipo_eleccion,codep,codmpio,mpio,codpartido,codlista,primer_apellido,segundo_apellido,nombre,genero,votos,curules
0,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,0,NaN,NaN,PARTIDO LIBERAL COLOMBIANO,NaN,188569,NaN
1,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,1,GOMEZ,AMIN,MAURICIO,NaN,107544,1.0
2,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,2,AMIN,SALEME,FABIO RAUL,NaN,87827,1.0
3,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,3,PINTO,HERNANDEZ,MIGUEL ANGEL,NaN,84984,1.0
4,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,4,VELASQUEZ,NIETO,OLGA LUCIA,NaN,56208,NaN
5,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,5,AGUDELO,ZAPATA,IVAN DARIO,NaN,68034,1.0
6,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,6,CASADO,DE LOPEZ,ARLETH PATRICIA,NaN,60152,NaN
7,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,7,GARCIA,TURBAY,LIDIO ARTURO,NaN,121781,1.0
8,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,8,DELGADO,RUIZ,EDINSON,NaN,33754,NaN
9,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,9,DURAN,MORA,ELEAZAR ALFONSO,NaN,32832,NaN
10,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,10,VELASCO,CHAVES,LUIS FERNANDO,NaN,75273,1.0
11,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,11,GONZALEZ,CORREA,OLGA BEATRIZ,NaN,41282,NaN
12,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,12,VILLALBA,MOSQUERA,RODRIGO,NaN,63346,1.0
13,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,13,DURAN,BARRERA,JAIME ENRIQUE,NaN,69990,1.0
14,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,14,FORTICH,SANCHEZ,LAURA ESTER,NaN,66766,1.0
15,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,15,ISAZA,RODRIGUEZ,CARLOS HUMBERTO,NaN,39288,NaN
16,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,16,CRISTO,BUSTOS,ANDRES,NaN,69515,1.0
17,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,17,BEDOYA,PULGARIN,JULIAN,NaN,75261,1.0
18,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,18,MURGUEITIO,CARDENAS,FERNANDO DAVID,NaN,41888,NaN
19,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,19,HOYOS,AGUDELO,OMAR DE JESUS,NaN,35936,NaN
20,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,20,GARCIA,REALPE,GUILLERMO,NaN,66011,1.0
21,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,22,DUQUE,GARCIA,LUIS FERNANDO,NaN,30304,NaN
22,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,23,QUIÑONES,GARCIA,LUCIANO MARCELINO,NaN,1101,NaN
23,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,24,OROZCO,VALENCIANO,YOBANY,NaN,2310,NaN
24,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,25,BAUTISTA,NIÑO,GRACIELA,NaN,1064,NaN
25,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,26,TORRES,OCAMPO,LUIS ESNORALDO,NaN,660,NaN
26,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,27,PLATA,VERA,MAYE,NaN,4177,NaN
27,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,28,RAMIREZ,HOYOS,FLORENCIA,NaN,2408,NaN
28,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,29,ABAUNZA,NIÑO,LORENT,NaN,2005,NaN
29,2018,2,NaN,99,TOTAL NACIONAL,PARTIDO LIBERAL,30,VALENCIA,FRANCO,LUZ PIEDAD,NaN,51045,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",66,ORDOÑEZ,CHADID,ADOLFO ANTONIO,NaN,12070,NaN
874,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",67,PRADA,SUAREZ,JOHN FABIO,NaN,1535,NaN
875,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",68,COBOS,CASTELLANOS,JHON CHARLES,NaN,1177,NaN
876,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",70,SALAM,BAYONA,NASSER ABDIS,NaN,622,NaN
877,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",71,PEREZ,CIFUENTES,VICTOR ALBERTO,NaN,527,NaN
878,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",72,PALACIOS,DE HERNANDEZ,SANDRA GILMA,NaN,286,NaN
879,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",75,ORTIZ,CAICEDO,JUAN FELIPE,NaN,471,NaN
880,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",77,MOTTA,MALDONADO,RAFAEL,NaN,8719,NaN
881,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",78,MONTAÑA,GARCIA,CESAR ROBERTO,NaN,916,NaN
882,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",79,SANCHEZ,CHAPARRO,JHON HENRY,NaN,530,NaN
883,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",81,OTERO,MARCHENA,OMAR GUILLERMO,NaN,182,NaN
884,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",82,DONADO,BELTRAN,ALBERTO LUIS,NaN,151,NaN
885,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",83,UNI,JIMENEZ,YOLANDA,NaN,170,NaN
886,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",84,BECERRA,STERLING,JOSE RAMIRO,NaN,2078,NaN
887,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",85,CHAVARRO,DIAZ,ALBERTO,NaN,169,NaN
888,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",86,OSPINA,REYES,GLORIA EDITH,NaN,165,NaN
889,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",89,CAICEDO,CORDOBA,ADOLFO,NaN,382,NaN
890,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",90,ESQUIVEL,AREVALO,PEDRO,NaN,728,NaN
891,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",91,BERNAL,PARRA,LUZ MARINA,NaN,6090,NaN
892,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",94,LURDUY,ORTEGON,JOSE,NaN,618,NaN
893,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",96,MADERA,MACEA,DAYSURIS JUDITH,NaN,207,NaN
894,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",97,CARDONA,CORTES,JOSE GERMAN,NaN,301,NaN
895,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",98,CHAVES,RUIZ,ALICIA,NaN,471,NaN
896,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",99,PADILLA,TEJEDA,CRISTOBAL,NaN,9920,NaN
897,2018,2,NaN,99,TOTAL NACIONAL,"COALICIÓN LISTA DE LA DECENCIA (ASI,UP,MAIS)",100,TAMAYO,PEREZ,JONATAN,NaN,14773,1.0
898,2018,2,NaN,99,TOTAL NACIONAL,G.S.C. UNIÓN CON FORTALEZA,0,NaN,NaN,G.S.C. UNIÓN CON FORTALEZA,NaN,34275,NaN
899,2018,2,NaN,99,TOTAL NACIONAL,G.S.C. COLOMBIA JUSTA LIBRES,0,NaN,NaN,G.S.C. COLOMBIA JUSTA LIBRES,NaN,463521,NaN
900,2018,2,NaN,99,TOTAL NACIONAL,NaN,996,NaN,NaN,VOTOS EN BLANCO,NaN,1183292,NaN
901,2018,2,NaN,99,TOTAL NACIONAL,NaN,997,NaN,NaN,VOTOS NULOS,NaN,1151181,NaN
902,2018,2,NaN,99,TOTAL NACIONAL,NaN,998,NaN,NaN,VOTOS NO MARCADOS,NaN,870007,NaN

### En las siguientes Sesiones...

***Si alguna vez lo contratan a usted para determinar la reparticiones de curules en el Senado, ¿Cómo lo haría? En la siguiente sesión miraremos en detalle cómo hacerlo usando Python. 

Mientras tanto les dejamos dos `challenges` para logarlo

### Problema 3: 
Según la Registraduría los votos validos de una elección se miden de esta forma
```python
VOTOS_VALIDOS = VOTOS_POR_LISTAS + VOTOS_EN_BLANCO
```
Donde `VOTOS_POR_LISTa`= Suma de votos por cada Partido/Movimiento y cada uno de sus candidatos (Es decir la observaciones 0-899)

Y donde `VOTOS_EN_BLANCO` (observación 900). 

Calcule los `VOTOS_VALIDOS`, para ello va a necesitar idexar la base de datos y aplicar el método .sum()

### Problema 3: 
Según la Registraduría el Cociente Electoral de una elección se miden de esta forma
```python
COCIENTE_ELECTORAL = VOTOS_POR_LISTAS / NÚMERO DE CURULES A ASIGNAR
```
Suponga que el número de curules a asignar es 100. 

¿Cuál es el valor del Cociente Electoral?